html ,body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
#principal{
    height: 100%;
    background-color: white;
}
#barraVidas{
    display: flex;
    width: 100%;
    background-color: gray;
    height: 15vh;

}
#imagenesCentral{
    width: 90%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
    
}
#fila1{
    height: 10vh;
    display: flex;
    justify-content: center;
}
#fila2{
    height: 10vh;
    display: flex;
    justify-content: space-around;
}
#fila3{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
#imagenesAbajo{
    background-color: greenyellow;
    height: 15vh;
    display: flex;
    justify-content: space-around;
}
.imagen{
    margin: 2vh;
    height: 10vh;
}
.ocultar{
    visibility: hidden;
}
.trasparente{
    opacity: 0.25;
}