body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
#container{
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2% auto;
}
.letras{
    display: flex;
    justify-content: space-between;

}
.letras div{
    width: 15vw;
    height: 10vh;
    border: solid 1px rgb(255, 42, 149);
    border-radius:20px;
}
.letra{
    text-align: center;
    background-color: rgb(66, 131, 66);
    color: white;
    font-size: 3rem;
    border-radius:20px;


}
.columnas{
    display: flex;
    justify-content: space-between;

}
.numero{
    text-align: center;
    background-color: blueviolet;
    color: white;
    font-size: 3rem;
    border-radius:20px;


}
.numeros{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 10vw;
}
.numeros div{
    border: solid 1px rgb(28, 214, 11);
    width: 10vw;
    height: 10vh;
}
.imagenes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
}
.fila0 , .fila1 , .fila2{
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: row;

}
.imagen {
    border: solid 1px rgb(213, 235, 14);
    width: 13vw;
    height: 10vh;
    border-radius:20px;

}
.oculto{
    visibility: hidden;
}
.policia{
    border-radius:20px;

}