body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

.calculator {
    border: 1px solid #000;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.calculator-screen {
    width: 95%;
    height: 80px;
    border: none;
    background-color: #252525;
    color: white;
    text-align: right;
    padding: 10px;
    font-size: 2em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    height: 60px;
    font-size: 1.5em;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f0f0f0;
}

.operator {
    background-color: gainsboro;
    color: white;
}

.equal-sign {
    background-color: gainsboro;
    grid-column: span 3;
    color: white;
}

.all-clear {
    background-color: gainsboro;
    color: white;
    grid-row: span 2;
}
