* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f8f8f8;
}
#cuadro1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50vw;
    height: auto;
    background-color: #f8f8f8;
    margin-bottom: 20px;
    border: solid 1px rgb(12, 85, 231);
    border-radius: 5px;
    margin-top:5%;
}

#cuadro1 div {
    border: solid 1px rgb(206, 26, 26);
    width:16vw;
    height: 50px;
    margin: 2px;
    text-align: center;
    line-height: 50px;
    color: white;
    background: linear-gradient( 40deg, rgb(241, 193, 90), rgb(53, 121, 177));
}
#cuadro1 div:hover{
    background: linear-gradient( 40deg, rgb(53, 121, 177), rgb(241, 193, 90));
}


#cuadro2 {
    display: flex;
    width: 50vw;
    height: auto;
    background-color: #f8f8f8;
}
button {
  width: 100px;
  height: 50px;
  background-color: #5330ec;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  size: 5rem;
}
button:hover {
  background-color: #1b3d14;
  color: #76d1ec;
}