*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#containerPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56vh;
    background-color: #27263a;
    flex-direction: column;
}
#container{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27263a;
}
#spectrometer{
    height: 200px;
    background-color: #27263a;
    border-radius: 10px;
}
.barras{
    display: inline-block;
    width: 30px;
  background-image: linear-gradient(10deg, #ffffff, #01bf20, #04441c);
    height: 100%;
    border: solid 1px #33f8f8;
    margin: 0 3px;
}
.bar-lateral{
    color: white;
}
.bar-lateral div{
    width: 30px;
    height: 100%;
    margin: 4px 0;
    
}
#bar-vertical{
    display: flex;
    justify-content: space-around;
    color: white;
}
.bar-vert{
    display: inline-block;
    width: 30px;
    margin: 0 3px;
}

#containerBotones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}
#btnPlay{
    background-color: #f0f0f0;
    color: #27263a;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
#btnPlay:hover{
    background-color: #e0e0e0;
}
#btnStop{
    background-color: #f0f0f0;
    color: #27263a;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#btnStop:hover{
    background-color: #e0e0e0;
}
#btnPause{
    background-color: #f0f0f0;
    color: #27263a;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#btnPause:hover{
    background-color: #e0e0e0;
}
.animacionBarras{
   transition: all 0.5s ease-in-out;
   transform: scaleY(1.5);
}
