*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: lightblue;
    height: 50%;
}
.principal{
    background-color: rgb(240, 83, 109);
    height: 100%;

}
.clase{
   background-color: yellow;
}