*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: Arial, sans-serif;
}

#botonRellenar{
    width: 20%;
    background-color: #5330ec;
    border-radius: 5px;
    padding: .5rem 1rem;
    cursor: pointer;
    color: white;
    size: 5rem;
    
}
#botonRellenar:hover{
    background-color: #1b3d14;
    color: #76d1ec;
}

#cuadro1{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 60%;
    background-color: #f8f8f8;
    border: solid 1px black;

}
#cuadro2{
    display: flex;
    width: 50%;
    height: 50%;
    background-color: #f8f8f8;

}   
.cuadrado{
    border: solid 1px rgb(206, 26, 26);
    width: 30%;
    height: 30%;
    display: inline-block;
    padding: .2rem;
    margin: .5rem;

}
