/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

#game {
    margin: 20px auto;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}
.color {
    width: 50%;
    height: 50%;
}

#green {
    background-color: darkgreen;
    border-top-left-radius: 100%;
}

#red {
    background-color: darkred;
    border-top-right-radius: 100%;
}

#yellow {
    background-color: goldenrod;
    border-bottom-left-radius: 100%;
}

#blue {
    background-color: darkblue;
    border-bottom-right-radius: 100%;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}
