*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: Arial, sans-serif;
}
#principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f8f8f8;
}
#botonReglas{
    width: 30%;
    background-color: #76d1ec;
    border: .2rem solid #33e90f;
    border-radius: 5px;
    padding: .5rem 1rem;
    cursor: pointer;
    color: white;
    border-radius: 25%;
    size: 5rem;
    
}