html, body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
img{
    height: 30vh;
    margin: 5vw;
    border-radius: 90%;
}
.animaComponente{
    transition: margin-right 2s .5s;
    margin-right: 150px;
}

