html,body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    display: flex;
}
div{
    text-align: center;
    margin-top: 10vh;
    width: 50vw;
}
img{
    width: 30vw;
    height: 30vh;
    border-radius: 100%;
}

#boton{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #0a4658;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    height: 2vh;
    width: 10vw;
}
.animarComponente{
    transition: margin-right 2s .5s;
    margin-right: 150px;
}
